.DS_Store
node_modules
npm-debug.log
dist
.release
.tmp
.bower
.build
.sass-cache
.idea
src/app/translations.js
rpm/
/local-config.js
/external
/po/template.pot
src/styles/main.css.map
/vendor
/test/karma.conf.js
test/karma.conf.all.js
jspm_packages
test_results
/po/**/*.pot
/po/**/*.mo
vas-ui.iml
